voila==0.5.0
voila-topbar==0.1.1
ipykernel
pandas
bokeh
bqplot
jupyter_server==2.7.0
jupyter
jupyterlab == 3
jupyterlab-fasta
matplotlib==3.4.1
vega_datasets
ipyvolume
earthengine-api
geemap
psycopg2
shapely
geojson
pytk
PythonTurtle
ipyfilechooser
geopandas
ipython
fastkml
zipfile36
xml-python
pykml
DateTime
ipywidgets
ipympl
