voila==0.5.0
voila-topbar==0.1.1
ipywidgets
ipykernel
pandas
bokeh
jupyter_server
jupyterlab
bqplot
matplotlib==3.4.1
vega_datasets
ipyvolume
earthengine-api
geemap
psycopg2
shapely
geojson
pytk
ipyfilechooser
geopandas
ipython
fastkml
xml-python
pykml
DateTime
ipympl
