voila==0.5.0
voila-topbar==0.1.1
ipykernel
pandas
bokeh
bqplot
ipympl==0.9.2
jupyterlab-fasta
matplotlib
scipy
vega_datasets
ipyvolume
earthengine-api
geemap
psycopg2
os-sys
ipywidgets
shapely
ipyleaflet
uuid
jsonlib
geojson
pytk
PythonTurtle
ipyfilechooser
geopandas
tempfile
functools
DateTime
warnings
ipython
fastkml
zipfile36
xml-python
re
pykml
